//Variables

//Layout Classes

body {
  display: flex;
	flex-direction: column;
	min-height: 100vh;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 1;
}


//Styling classes

footer {
  padding: 2em 0;
}

main {
  padding: 3em 2em;
}

.converter-form {
  margin-bottom: 2em;
}
.converter-form__input {
  margin-right: 1em;
}
